@import url("~/.config/colors/gray.css");

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 20px;
}

window {
    transition: 0.5s ease-in-out;
    background-color: transparent;
}

#input {
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    border-color: @white;
    outline: none;
    color: @black;
    background-color: alpha(@gray8, 0.7);
}

#input:focus {
    outline: none;
    box-shadow: none;
}

#inner-box {
    margin: 0px;
    border: 1px solid @white;
    background-color: alpha(@gray8, 0.7);
}

#outer-box {
    margin: 4px;
    padding: 0px;
    border: none;
    transition: 1s ease-in-out;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 0px;
    border: none;
    color: @gray2;
}

#text:selected {
    color: @black;
    outline: none;
}

#entry:selected {
    outline: none;
    border-radius: 0px;
    background-color: @white;
}

#entry {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: transparent;
}
