* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 24px;
}

window {
    transition: .5s ease-in-out;
    background-color: transparent;
}

#input {
    margin: 5px;
    color: @text;
    background-color: rgba(225,225,255,0.7);
    transition: 0.5s ease-in-out;
    border: 1px solid #efefff;
    border-radius: 25px;
}

#inner-box {
    margin: 0px;
    border: none;
    background-color: @base;
}

#outer-box {
    margin: 0px;
    padding: 0px;
    border-radius: 25px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    background-color: rgba(200,200,225,0.7);
    box-shadow: none;
    transition: 0.5s ease-in-out;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 2px;
    border: none;
    color: rgba(80,80,100,0.7);
}

#text:selected {
    color: #000000;
}

#entry:selected {
    background-color: rgba(225,225,255,0.9);
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    border-color: #ffffff;
}

#entry {
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-color: transparent;
}
