@import "../shared/colors-mocha.rasi"
@import "../shared/font.rasi"
@import "colors.rasi"

window {
  background-color:    transparent;
  text-color:          transparent;
  border-color:        transparent;
}

prompt {
  background-color:    transparent;
  text-color:          @aWHIT;
}

textbox-prompt-colon {
  background-color:    transparent;
  text-color:          @aWHIT;
}

entry {
  background-color:    @aGRY8;
  text-color:          @BLAK;
  placeholder-color:   @aGRY2;
  border-color:        @aWHIT;
}

inputbar {
  background-color:    transparent;
  text-color:          transparent;
  border-color:        transparent;
}

case-indicator {
  background-color:    transparent;
  text-color:          @GRY5;
}

listview {
  background-color:    transparent;
  border-color:        transparent;
}

mainbox {
  background-color:    @aGRY4;
}

element {
  background-color:    @aGRY8;
  text-color:          @GRY2;
  border-color:        @aWHIT;
}

element-icon {
  background-color:    transparent;
  text-color:          inherit;
}

element-text {
  background-color:    transparent;
  text-color:          inherit;
}

element-text selected {
  text-transform:      bold;
}

element normal.urgent,
element alternate.urgent {
  background-color:    @PINK;
  text-color:          @GRY8;
}

element normal.active,
element alternate.active {
  background-color:    @GRY8;
  text-color:          @BLAK;
}

element selected {
  background-color:    @GRY9;
  text-color:          @BLAK;
  border-color:        @WHIT;
}

element selected.urgent {
  background-color:    @PINK;
  text-color:          @GRY8;
}

element selected.active {
  background-color:    @SKY;
  color:               @GRY8;
}

message {
  background-color:    @PINK;
  text-color:          @GRY8;
}
