@import "./themes/mocha.css";

/* Global */
* {
  font-family: "JetBrainsMono Nerd Font", "IPA Gothic", FontAwesome, monospace;
  font-size: 1.2rem;
  transition-property: background-color;
  transition-duration: 0.5s;
}

@keyframes blink_red {
  to {
    background-color: @red;
    color: @text;
  }
}

.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-cava-internal,
#custom-launcher,
#custom-media,
#custom-notification,
#custom-pacman,
#custom-powermenu,
#custom-reboot,
#custom-weather,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#mpd,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#window,
#workspaces {
  padding: .3rem .6rem;
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  background-color: transparent;
  min-width: 1.7rem;
}

#backlight:hover,
#battery:hover,
#cpu:hover,
#custom-cava-internal:hover,
#custom-launcher:hover,
#custom-media:hover,
#custom-notification:hover,
#custom-pacman:hover,
#custom-reboot:hover,
#custom-weather:hover,
#disk:hover,
#idle_inhibitor:hover,
#memory:hover,
#mode:hover,
#network:hover,
#mpd:hover,
#pulseaudio:hover,
#scratchpad:hover,
#temperature:hover,
#window:hover {
  background-color: @text;
  color: @crust;
}

/* Bar */
window#waybar {
  /*background-color: rgba(30, 30, 46, 0.60);*/
  background-color: transparent;
}
window > box {
  /*background-color: transparent;*/
  background-color: rgba(30, 30, 46, 0.60);
}
.modules-left {
  /*background-color: #1e1e2e;*/
  margin-left: 0px;
  padding: 0px 5px 0px 0px;
}
.modules-center {
  /*background-color: #1e1e2e;*/
  margin-left: 0px;
  padding: 0px 5px 0px 5px;
}
.modules-right {
  /*background-color: #1e1e2e;*/
  margin-left: 0px;
  padding: 0px 0px 0px 5px;
}

/* Workspaces */
#workspaces {
  background-color: transparent;
}
#workspaces button {
  all: initial;
  padding-right: .4rem;
  padding-left: .4rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  background: transparent;
  border-radius: 2px;
  color: @blue;
}
#workspaces button.active {
  color: @teal;
}
#workspaces button:hover {
  color: @rosewater;
}

/* Tooltip */
tooltip {
  background-color: @text;
  border-radius: 0rem;
  border: none;
}
tooltip label {
  color: @crust;
}

/* battery */
#battery {
  color: @lavender;
}
#battery.full:hover,
#battery.charging:hover,
#battery.discharging:hover,
#battery.critical:hover {
  color: @crust;
}
#battery.critical:not(.charging) {
  color: @pink;
}
#custom-powermenu {
  color: @crust;
  background-color: #e6008e;
}

/* mpd */
#mpd.paused {
  color: @text;
  font-style: italic;
}
#mpd.stopped {
  color: @text;
  background: transparent;
}
#mpd {
  color: @text;
}

/* Extra */
#custom-cava-internal{
  color: @peach;
  padding-right: 1rem;
}
#custom-launcher {
  color: @yellow;
}
#memory {
  color: @peach;
}
#cpu {
  color: @text;
}
/*
 *ff00ff purple
 *fbff00 yellow
 *26ff00 green
 *00eeff cyan
 * */
#clock {
  color: @crust;
  background-color: #26ff00;
  font-weight: bold;
}
#clock:hover {
  background-color: @text;
}
#idle_inhibitor {
  color: @green;
}
#temperature {
  color: @lavender;
}
#backlight {
  color: @green;
}
#pulseaudio {
  color: @lavender;  /* not active */
}
#network {
  color: @lavender; /* not active */
}
#network.disconnected {
  color: @red;  /* not active */
}
#disk {
  color: @maroon;
}
#custom-pacman{
  color: @sky;
}
#custom-scratchpad-indicator {
  color: @yellow;
}
#custom-weather {
  color: @lavender;
}
#custom-media {
  color: #333333;
}
#custom-media.custom-spotify {
  color: #1db954;
}
#custom-media.custom-vlc {
  color: #ffa000;
}
#custom-notification {
  font-family: "JetBrainsMono Nerd Font";
}
