@import "../colors/gray.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  border-radius: 0px;
}

label {
  color: @white;
  text-shadow: 0px 0px 8px @black;
}

.notification {
  border: 0px solid @white;
  box-shadow: none;
  border-radius: 4px;
  background-image: linear-gradient(
    to top,
    alpha(@white, 0.6),
    alpha(@white, 0.7)
    );
}

.notification button {
  background: transparent;
  border-radius: 0px;
  border: 0px;
  margin: 0px;
  padding: 4px;
}

.notification button:hover {
  background: alpha(@white, 0.5);
}

.notification-content {
  padding-left: 0px;
  border-radius: 0px;
  min-height: 32px;
}

.close-button {
  margin: 0px;
  padding: 4px;
  border-radius: 4px;
  background: transparent;
  border: 2px solid transparent;
  color: alpha(@black, 0.5);
}

.close-button:hover {
  background: alpha(@red, 0.8);
  border: 2px solid alpha(@white, 0.8);
  color: @white;
}

.notification-action {
  border-radius: 0px;
  border: none;
}

.notification-default-action:hover {
  background: alpha(@white, 0.5);
}

.notification-action:hover {
  background: alpha(@white, 0.5);
}

/*** Notification ***/
/* Notification header */
.summary {
  color: @black;
  font-weight: 700;
  text-shadow: 0px 0px 4px @white;
  padding-left: 10px;
}

.time {
  color: alpha(@black, 0.8);
  font-weight: 700;
  text-shadow: 0px 0px 4px @white;
  background: transparent;
  margin: 0px 38px 0px 0px;
  padding: 2px 0px;
}

.body {
  color: @black;
  margin: 0px 0px 0px 0px;
  text-shadow: 0px 0px 4px @white;
}

.body-image {
  border-radius: 0px;
  text-shadow: 0px 0px 4px @black;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: @white;
  text-shadow: none;
}

/* Control center */
.control-center {
  background: alpha(@gray2,0.8);
  border: 2px solid alpha(@white, 0.5);
  border-radius: 4px;
  box-shadow: none;
  margin: 0px;
}

.control-center-list {
  background: transparent;
  border: none;
  border-radius: 0px;
}

.control-center-list-placeholder,
.notification-group-icon,
.notification-group {
  color: @white;
}

.notification-group {
  /* unset the annoying focus thingie */
  opacity: 1;
  box-shadow: none;
  margin: 0px;
}

.notification-group > box {
  background: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
  box-shadow: none;
}

.notification-row {
  outline: none;
  transition: all 0.5s ease;
  margin: 0px;
}

.notification-row:focus,
.notification-row:hover {
  box-shadow: none;
}

.control-center-list > row,
.control-center-list > row:focus,
.control-center-list > row:hover {
  background: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  box-shadow: none;
}

.notification-group-collapse-button {
  background: alpha(@gray5, 0.5);
  color: alpha(@white, 0.5);
  border: 2px solid transparent;
  border-radius: 4px;
}

.notification-group-collapse-button:hover {
  color: @white;
  border: 2px solid alpha(@white, 0.5);
}

.notification-group-close-all-button {
  background: alpha(@gray5, 0.5);
  color: alpha(@white, 0.5);
  border: 2px solid transparent;
  border-radius: 4px;
}

.notification-group-close-all-button:hover {
  background: @red;
  border: 2px solid alpha(@white, 0.5);
  color: @white;
}

.control-center-list > row:last-child {
  padding: 0px;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 0px;
  background: transparent;
  border-radius: 0px;
  border: none;
}

.widget-title > label {
  opacity: 0;
  margin: 0px;
  padding: 0px;
}

.widget-title > button {
  margin-right: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 8px 0px;
  background: transparent;
  color: alpha(@white, 0.5);
  border-radius: 4px;
  border: 2px solid transparent;
}
.widget-title > button:hover {
  background: alpha(@gray5, 0.5);
  border: 2px solid alpha(@white, 0.5);
  color: @white;
}

/* Label widget */
.widget-label {
  margin: 0px;
  padding: 0px;
  min-height: 0px;
  background: transparent;
  border-radius: 0px;
  border: none;
}
.widget-label > label {
  font-size: 15px;
  font-weight: 400;
}

/* Menubar */
.widget-menubar {
  background: transparent;
  border: none;
}
.widget-menubar > box > box {
  margin: 0px;
  border-radius: 0px;
  background: transparent;
}
.widget-menubar > box > box > button {
  background: @black;
  margin: 0px;
  font-size: 14px;
  padding: 0px;
}
.widget-menubar > box > box > button:nth-child(2) {
  margin-right: 0px;
}
.widget-menubar button:focus {
  box-shadow: none;
}
.widget-menubar button:focus:hover {
  background: alpha(@gray5, 0.5);
  border: 2px solid alpha(@white, 0.5);
  box-shadow: none;
}

.widget-menubar > box > revealer > box {
  margin: 0px;
  background: @black;
  border-radius: 0px;
}
.widget-menubar > box > revealer > box > button {
  background: transparent;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
}

/* Mpris widget */
.widget-mpris {
  margin: 0px;
}

.widget-mpris-album-art {
  border-radius: 4px;
}

/* Player buttons */
.widget-mpris > box > carousel > widget > box > box:nth-child(2) > button {
  color: alpha(@white, 0.6);
  background: alpha(@white, 0.4);
  border-radius: 999px;
  border: 2px solid transparent;
}
.widget-mpris > box > carousel > widget > box > box:nth-child(2) > button:hover {
  background: alpha(@white, 0.6);
  border: 2px solid @white;
  color: @white;
}

.widget-mpris-title {
  color: @white;
  font-weight: bold;
  font-size: 1.25rem;
  text-shadow: 0px 0px 4px @black;
}
.widget-mpris-subtitle {
  color: alpha(@white, 0.8);
  font-size: 1rem;
  text-shadow: 0px 0px 4px @black;
}

.widget-mpris-player {
  border-radius: 4px;
}

.notification-group > box.vertical {
  margin-top: 0px
}

/* DND widget */
.widget-dnd {
  margin-left: 24px;
  margin-right: 24px;
  padding: 0px;
  color: alpha(@white, 0.5);
}

.widget-dnd > switch {
  background-image: linear-gradient(0deg, alpha(@gray8, 0.8), alpha(@gray7, 0.8));
  border-radius: 999px;
  border: 1px solid @white;
}

.widget-dnd > switch:hover {
  background-image: linear-gradient(0deg, alpha(@gray9, 0.9), alpha(@gray8, 0.9));
}

.widget-dnd > switch:checked {
  background-image: linear-gradient(0deg, alpha(@gray8, 0.8), alpha(@green, 0.8));
}

.widget-dnd > switch:checked:hover {
  background-image: linear-gradient(0deg, alpha(@gray9, 0.9), alpha(@green, 0.9));
}

.widget-dnd > switch slider {
  background: alpha(@gray9, 0.8);
  border: 1px solid @white;
  border-radius: 999px;
}

/* Toggles */
.toggle:checked {
}
.toggle:checked:hover {
}

.right.overlay-indicator {
}
