@define-color black     #000000;
@define-color gray1     #1a1a1a;
@define-color gray2     #333333;
@define-color gray3     #4d4d4d;
@define-color gray4     #666666;
@define-color gray5     #808080;
@define-color gray6     #999999;
@define-color gray7     #b3b3b3;
@define-color gray8     #cccccc;
@define-color gray9     #e6e6e6;
@define-color white     #ffffff;

@define-color blue      #4463ee;
@define-color purple    #7309b9;
@define-color cyan      #4ccaf0;
@define-color green     #44cc44;
@define-color yellow    #ffea00;
@define-color orange    #ff9c24;
@define-color red       #dd0044;
@define-color pink      #f72684;


* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  border-radius: 0px;
}

label {
  color: @white;
  text-shadow: 0px 0px 4px @black;
}

.notification {
  border-left: none;
  border-top: 1px solid @gray5;
  border-bottom: 1px solid @gray3;
  border-right: none;
  box-shadow: 0px 0px 8px @gray1;
  border-radius: 8px;
  background: @gray4;
}

.notification button {
  background: @gray4;
  border-radius: 0px;
  border: 0px;
  margin: 0px;
  padding: 4px;
}

.notification button:hover {
  background: @gray5;
}

.notification-content {
  padding: 0px;
  border-radius: 0px;
  min-height: 32px;
}

.close-button {
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 4px;
  border-radius: 8px;
  background: transparent;
  color: @gray2;
  opacity: 1;
}

.close-button:hover {
  background: @red;
  color: @black;
}

.notification-action {
  border-radius: 0px;
  border: none;
}

.notification-default-action:hover {
  background: @gray5;
}

.notification-action:hover {
  background: @gray5;
}

/*** Notification ***/
/* Notification header */
.summary {
  color: @white;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0px 0px 4px @black;
}

.time {
  color: @gray8;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0px 0px 4px @black;
  background: transparent;
  margin: 0px 34px 0px 0px;
  padding: 2px 0px;
}

.body {
  font-size: 14px;
  font-weight: 500;
  color: @gray8;
  margin: 0px 0px 0px 0px;
  text-shadow: 0px 0px 4px @black;
}

.body-image {
  border-radius: 0px;
  text-shadow: 0px 0px 4px @black;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: @gray8;
  text-shadow: none;
}

/* Control center */
.control-center {
  background: alpha(@gray3,0.6);
  border-top: 1px solid @gray4;
  border-left: 1px solid @gray4;
  border-right: 1px solid @gray2;
  border-bottom: 1px solid @gray2;
  border-radius: 8px;
  box-shadow: 0px 4px 8px @black;
  margin: 0px;
  padding: 8px;
}

.control-center-list {
  background: transparent;
  min-height: 5px;
  border-top: none;
  border-radius: 0px;
}

.control-center-list-placeholder,
.notification-group-icon,
.notification-group {
  color: @gray8;
}

.notification-group {
  /* unset the annoying focus thingie */
  opacity: 1;
  box-shadow: none;
}

.notification-group > box {
  all: unset;
  background: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.notification-row {
  outline: none;
  transition: all 1s ease;
  margin: 0px;
}

.notification-row:focus,
.notification-row:hover {
  box-shadow: none;
}

.control-center-list > row,
.control-center-list > row:focus,
.control-center-list > row:hover {
  background: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  box-shadow: none;
}

.control-center-list > row:last-child {
  padding: 0px;
}


/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  background: transparent;
  border-radius: 0px;
  border-bottom: none;
}

.widget-title > label {
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
}

.widget-title > button {
  font-weight: 700;
  padding: 8px;
  margin: 0px;
  background: transparent;
  color: @gray3;
  border: none;
  border-radius: 8px;
}
.widget-title > button:hover {
  background: @gray4;
}

/* Label widget */
.widget-label {
  margin: 0px;
  padding: 0px;
  min-height: 0px;
  background: transparent;
  border-radius: 0px;
  border-top: none;
}
.widget-label > label {
  font-size: 15px;
  font-weight: 400;
}

/* Menubar */
.widget-menubar {
  background: transparent;
  border-top: none;
  border-bottom: none;
}
.widget-menubar > box > box {
  margin: 0px;
  min-height: 0px;
  border-radius: 0px;
  background: transparent;
}
.widget-menubar > box > box > button {
  background: @black;
  min-width: 0px;
  min-height: 0px;
  margin-right: 0px;
  font-size: 14px;
  padding: 0px;
}
.widget-menubar > box > box > button:nth-child(2) {
  margin-right: 0px;
}
.widget-menubar button:focus {
  box-shadow: none;
}
.widget-menubar button:focus:hover {
  background: @gray4;
  box-shadow: none;
}

.widget-menubar > box > revealer > box {
  margin: 0px;
  background: @black;
  border-radius: 0px;
}
.widget-menubar > box > revealer > box > button {
  background: transparent;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
}

/* Mpris widget */
.widget-mpris {
  padding: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.widget-mpris > box {
  padding: 0px;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  background: @black;
}
.widget-mpris > box > button:nth-child(1),
.widget-mpris > box > button:nth-child(3) {
  margin-bottom: 0px;
}
.widget-mpris > box > button:nth-child(1) {
  margin-left: 0px;
  margin-right: 0px;
  opacity: 1;
}
.widget-mpris > box > button:nth-child(3) {
  margin-left: 0px;
  margin-right: 0px;
  opacity: 1;
}

.widget-mpris-album-art {
  all: unset;
}

/* Player button box */
.widget-mpris > box > carousel > widget > box > box:nth-child(2) {
  margin: 0px;
}

/* Player buttons */
.widget-mpris > box > carousel > widget > box > box:nth-child(2) > button {
  color: @gray8;
  border-radius: 50%;
}
.widget-mpris > box > carousel > widget > box > box:nth-child(2) > button:hover {
  background: @gray6;
}
carouselindicatordots {
  opacity: 1;
}

.widget-mpris-title {
  color: @gray8;
  font-weight: bold;
  font-size: 1.25rem;
  text-shadow: 0px 0px 4px @black;
}
.widget-mpris-subtitle {
  color: @text;
  font-size: 1rem;
  text-shadow: 0px 0px 4px @black;
}

.widget-mpris-player {
  border-radius: 0px;
  margin: 0px;
}
.widget-mpris-player > box > image {
  margin: 0px 0px 0px 0px;
}

.notification-group > box.vertical {
  margin-top: 0px
}

/* DND widget */
.widget-dnd {
  margin-top: 0px;
  margin-left: 350px;
  padding: 0px 0px;
  font-size: large;
  color: @gray8;
}

.widget-dnd > switch {
  background: alpha(@gray6,0.6);
  border-radius: 999px;
}

.widget-dnd > switch:hover {
  background: @gray6;
}

.widget-dnd > switch:checked {
  background: alpha(@green,0.6);
}

.widget-dnd > switch:checked:hover {
  background: @green;
}

.widget-dnd > switch slider {
  background: @gray8;
  border-top: 1px solid @gray9;
  border-left: 1px solid @gray9;
  border-radius: 999px;
}

/* Toggles */
.toggle:checked {
  background: @gray5;
}
.toggle:checked:hover {
  background: @gray7;
}

.right.overlay-indicator {
  all: unset;
}
