* {
    BLK1:   #1E1D2Fff;
    /*BGA:  #89DCEBff;*/
    ORNG:   #FFD89Cff;
    LGRY:   #D9E0EEff;
    PINK:   #F28FADff;
    LBLU:   #96CDFBff;
    BLK2:   #1E1E2Eff;
    YLLW:   #FAE3B0ff;
    GREY:   #575268ff;
    LGRN:   #ABE9B3ff;
}
