@define-color shadow rgba(0, 0, 0, 0.25);
/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1E1D2E;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  transition: 200ms;
  background-clip: border-box;
}

label {
  color: @text;
}

.notification {
  border: @lavender;
  box-shadow: none;
  border-radius: 4px;
  border-width: 2px;
  background: @base;
}

.notification button {
  background: @lavender;
  border-radius: 0px;
  border: none;
  margin: 0px;
  padding: 0px;
}

.notification button:hover {
  background: @text;
}

.notification-content {
  min-height: 64px;
  margin: 10px;
  padding: 0px;
  border-radius: 0px;
}

.close-button {
  min-height: 64px;
  background: @lavender;
  color: @base;
}

.notification-default-action,
.notification-action {
  background: @base;
  border: none;
}

.notification-default-action {
  border-radius: 4px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  padding: 2px;
  color: @text;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 4px;
}

.notification-action:last-child {
  border-bottom-right-radius: 4px;
}

/*** Notification ***/
/* Notification header */
.summary {
  color: @text;
  font-size: 14px;
  padding: 0px;
}

.time {
  color: @subtext0;
  font-size: 12px;
  text-shadow: none;
  margin: 0px 0px 0px 0px;
  padding: 2px 0px;
}

.body {
  font-size: 14px;
  font-weight: 500;
  color: @subtext1;
  text-shadow: none;
  margin: 0px 0px 0px 0px;
}

.body-image {
  border-radius: 4px;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: @text;
  text-shadow: none;
}

/* Control center */

.control-center {
  background: @crust;
  border-radius: 4px;
  border: 2px solid @lavender;
  box-shadow: none;
  margin: 10px;
  padding: 4px;
}

.control-center-list {
  background: @crust;
  min-height: 5px;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}

.control-center-list-placeholder,
.notification-group-icon,
.notification-group {
  color: @text;
}

.notification-group {
  /* unset the annoying focus thingie */
  opacity: 0;
  box-shadow: none;
}

.notification-group > box {
  all: unset;
  background: transparent;
  padding: 4px;
  margin: 0px;
  border: none;
  border-radius: 4px;
  box-shadow: none;
}

.notification-row {
  outline: none;
  transition: all 1s ease;
  background: @mantle;
  border: 0px solid @crust;
  margin: 10px 5px 0px 5px;
  border-radius: 14px;
}

.notification-row:focus,
.notification-row:hover {
  box-shadow: none;
}

.control-center-list > row,
.control-center-list > row:focus,
.control-center-list > row:hover {
  background: transparent;
  border: none;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  box-shadow: none;
}

.control-center-list > row:last-child {
  padding: 5px 10px 10px 10px;
}


/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 0px;
  background: transparent;
  border-radius: 4px 4px 0px 0px;
  border-bottom: none;
}

.widget-title > label {
  margin: 18px 10px;
  font-size: 20px;
  font-weight: 500;
}

.widget-title > button {
  font-weight: 700;
  padding: 7px 3px;
  margin-right: 10px;
  background: transparent;
  color: @text;
  border: none;
  border-radius: 4px;
}
.widget-title > button:hover {
  background: @lavender;
}

/* Label widget */
.widget-label {
  margin: 0px;
  padding: 0px;
  min-height: 5px;
  background: @mantle;
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}
.widget-label > label {
  font-size: 15px;
  font-weight: 400;
}

/* Menubar */
.widget-menubar {
  background: transparent;
  border-top: none;
  border-bottom: none;
}
.widget-menubar > box > box {
  margin: 5px 10px 5px 10px;
  min-height: 40px;
  border-radius: 4px;
  background: transparent;
}
.widget-menubar > box > box > button {
  background: @mantle;
  min-width: 185px;
  min-height: 50px;
  margin-right: 10px;
  font-size: 14px;
  padding: 0px;
}
.widget-menubar > box > box > button:nth-child(2) {
  margin-right: 0px;
}
.widget-menubar button:focus {
  box-shadow: none;
}
.widget-menubar button:focus:hover {
  background: @base;
  box-shadow: none;
}

.widget-menubar > box > revealer > box {
  margin: 5px 10px 5px 10px;
  background: @mantle;
  border-radius: 4px;
}
.widget-menubar > box > revealer > box > button {
  background: transparent;
  min-height: 50px;
  padding: 0px;
  margin: 5px;
}

/* Mpris widget */
.widget-mpris {
  padding: 8px;
  padding-bottom: 15px;
  margin-bottom: -33px;
}
.widget-mpris > box {
  padding: 0px;
  margin: -5px 0px -10px 0px;
  padding: 0px;
  border-radius: 4px;
  background: @mantle;
}
.widget-mpris > box > button:nth-child(1),
.widget-mpris > box > button:nth-child(3) {
  margin-bottom: 0px;
}
.widget-mpris > box > button:nth-child(1) {
  margin-left: -25px;
  margin-right: -25px;
  opacity: 0;
}
.widget-mpris > box > button:nth-child(3) {
  margin-left: -25px;
  margin-right: -25px;
  opacity: 0;
}

.widget-mpris-album-art {
  all: unset;
}

/* Player button box */
.widget-mpris > box > carousel > widget > box > box:nth-child(2) {
  margin: 5px 0px -5px 90px;
}

/* Player buttons */
.widget-mpris > box > carousel > widget > box > box:nth-child(2) > button {
  border-radius: 4px;
}
.widget-mpris > box > carousel > widget > box > box:nth-child(2) > button:hover {
  background: currentColor;
}
carouselindicatordots {
  opacity: 0;
}

.widget-mpris-title {
  color: #eeeeee;
  font-weight: bold;
  font-size: 1.25rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.widget-mpris-subtitle {
  color: #eeeeee;
  font-size: 1rem;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.widget-mpris-player {
  border-radius: 0px;
  margin: 0px;
}
.widget-mpris-player > box > image {
  margin: 0px 0px -48px 0px;
}

.notification-group > box.vertical {
  margin-top: 3px
}

/* DND widget */
.widget-dnd {
  margin: 10px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @mantle;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @surface1;
}

.widget-dnd > switch:checked {
  background: @surface0;
}

.widget-dnd > switch:checked:hover {
  background: @surface1;
}

.widget-dnd > switch slider {
  background: @lavender;
  border-radius: 6px;
}

/* Toggles */
.toggle:checked {
  background: @surface1;
}
.toggle:checked:hover {
  background: @surface2;
}

.right.overlay-indicator {
  all: unset;
}
