@import "../colors/grays.css";

/* Global */
* {
  font-family: "JetBrainsMono Nerd Font Propo", "Symbols Nerd Font", FontAwesome, monospace;
  font-size: 1.2rem;
  transition-property: background-color;
  transition-duration: 0.5s;
}

@keyframes blink_red {
  to {
    background-color: @gray5;
    color: @white;
    text-shadow:
      0px 0px 16px #ff4444,
      0px 0px 8px #ff8888,
      0px 0px 4px #ffcccc;
  }
}

.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-cava-internal,
#custom-divider,
#custom-launcher,
#custom-media,
#custom-notification,
#custom-pacman,
#custom-powermenu,
#custom-privacydots,
#custom-reboot,
#custom-weather,
#custom-workspaces,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#mpd,
#mpd.paused,
#mpd.stopped,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#window,
#workspaces {
  padding-left: .6rem;
  padding-right: .6rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  margin-top: .0rem;
  margin-left: .0rem;
  margin-right: .2rem;
  margin-bottom: .2rem;
  background-color: transparent;
  min-width: 1.0rem;
  color: @white;
  border-radius: 999px;
  text-shadow:
    0px 0px 6px @black,
    0px 0px 4px @black,
    0px 0px 2px @black;
}

#backlight:hover,
#battery:hover,
#battery.full:hover,
#battery.charging:hover,
#battery.discharging:hover,
#battery.critical:hover,
#clock:hover,
#cpu:hover,
#custom-cava-internal:hover,
#custom-launcher:hover,
#custom-media:hover,
#custom-notification:hover,
#custom-pacman:hover,
#custom-powermenu:hover,
#custom-privacydots:hover,
#custom-reboot:hover,
#custom-weather:hover,
#disk:hover,
#idle_inhibitor:hover,
#memory:hover,
#mode:hover,
#network:hover,
#mpd:hover,
#pulseaudio:hover,
#scratchpad:hover,
#temperature:hover {
  background-color: alpha(@white, 0.2);
}

/* Bar */
window#waybar {
  background-color: transparent;
  margin: 0rem;
}
window > box {
  /*background-image: linear-gradient(0deg, alpha(@gray1,0), alpha(@gray1,0.6));*/
  margin-top: .2rem;
  margin-bottom: .0rem;
  background-color: transparent;
}
.modules-left {
  margin-left: .5rem;
  padding: .0rem .0rem .0rem .0rem;
  /*background-color: alpha(@gray2, 0.8);*/
  border-radius: 999px;
}
.modules-center {
  padding: .0rem .0rem .0rem .0rem;
}
.modules-right {
  margin-right: .5rem;
  padding: .0rem .0rem .0rem .0rem;
  /*background-color: alpha(@gray2, 0.8);*/
  border-radius: 999px;
}

/* Workspaces */
#workspaces {
  background-color: transparent;
  padding: .0rem;
  font-size: .8rem;
}
#workspaces button {
  all: initial;
  margin-right: .2rem;
  margin-left: .2rem;
  margin-top: .0rem;
  margin-bottom: .0rem;
  padding-right: .4rem;
  padding-left: .4rem;
  padding-top: .0rem;
  padding-bottom: .0rem;
  background-color: alpha(@white, 0.2);
  border-radius: 999px;
  color: @white;
  font-weight: bold;
  font-size: .8rem;
  min-width: 1.5rem;
}
#workspaces button.active {
  background-color: @white;
  color: @black;
  padding-right: .8rem;
  padding-left: .8rem;
}
#workspaces button:hover {
  color: @white;
  box-shadow: inset 0 0 0 .05rem alpha(@white, 0.5);
}
#workspaces button.active:hover {
  background-color: @white;
  color: @black;
}
#workspaces button.special:not(.active) {
  background-color: transparent;
}

/* Tooltip */
tooltip {
  background-color: alpha(@white,0.8);
  border-radius: .2rem;
  border: none;
  padding: .4rem;
  box-shadow: 0px 0px 5px @gray1;
}
tooltip label {
  color: @gray1;
  text-shadow: none;
}

/* battery */
#battery.critical:not(.charging) {
  color: @pink;
}
#custom-powermenu:hover {
  color: @white;
  background-color: #e6008e;
}

/* Extra */
#backlight-slider {
  min-width: 100px;
}

#clock {
  font-weight: bold;
}

#network.disconnected {
  color: @red;  /* not active */
}

#custom-media.custom-spotify {
  font-weight: bold;
}

#custom-media.custom-vlc {
  color: #ffa000;
}

#custom-notification {
  font-family: "JetBrainsMono Nerd Font";
}

#custom-divider {
  font-size: 1rem;
  padding: .3rem .3rem;
}

#custom-privacydots {
  /*padding: 0 10px;
  font-size: 12px;
  letter-spacing: 3px;*/
}
